* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    
  }

  .car {
    width: 300px;
    margin: 50px auto;
    background-color: dimgray;
    border-radius: 10px;
    height: 420px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }


  .card-header {
    background-color: aqua;
    color: #373535;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    
  }

  .card-body {
    padding: 20px;
    background-color: dimgray;
  }


  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #2c3e50;
  }

  .change{
    height: 50px;
    width: 200px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 70px;
    background-color: rgb(77, 80, 87);
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
  }
 
 

 .main{
  display: flex;
  justify-content: center;
 }
 .under{
  display: block;
  margin-right: 2%;
 }

 .three{
  margin-top: 50px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
 }




 #scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  height: 240px;
  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 5s linear infinite;
   
}
#scroll-text:hover{
    animation-play-state: paused;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}



.side{
  display: block;
}


